<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render(ViewConstants.CssBundle)
</head>
<body style="padding:0px">
    @RenderBody()

    @Scripts.Render(ViewConstants.LibBundle)
    @Scripts.Render(ViewConstants.AppBundle)
    @*<script src="node_modules/core-js/client/shim.min.js"></script>
        <script src="node_modules/zone.js/dist/zone.js"></script>
        <script src="node_modules/systemjs/dist/system.src.js"></script>
        <script src="systemjs.config.js"></script>*@

    @RenderSection("scripts", required: false)

    <script>
        window.GlobalSettings = {
            LoginUrl: 'http://api.easyshop.local/Token',
            ApiBase: 'http://api.easyshop.local/v1/'
        };

        System.import('/Scripts/Ang2/dist/main.js').catch(function (err) { console.error(err); });
    </script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyC_-XCTUW1NeEMGyYj_ArMubq9yaX4A9Ro",
            authDomain: "easyshopping-169409.firebaseapp.com",
            databaseURL: "https://easyshopping-169409.firebaseio.com",
            projectId: "easyshopping-169409",
            storageBucket: "easyshopping-169409.appspot.com",
            messagingSenderId: "852315992773"
        };
        firebase.initializeApp(config);
    </script>
</body>
</html>
