<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render(ViewConstants.CssBundle)
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
</head>
<body style="padding:0px">
    @RenderBody()

    @Scripts.Render(ViewConstants.LibBundle)
    @Scripts.Render(ViewConstants.AppBundle)
    @*<script src="node_modules/core-js/client/shim.min.js"></script>
        <script src="node_modules/zone.js/dist/zone.js"></script>
        <script src="node_modules/systemjs/dist/system.src.js"></script>
        <script src="systemjs.config.js"></script>*@

    @RenderSection("scripts", required: false)
    
    <script>
        window.GlobalSettings = {
            LoginUrl: 'http://api.easyshop.local/Token',
            ApiBase: 'http://api.easyshop.local/v1/',
            slider: true
        };
        System.import('/Scripts/Ang2/dist/main.js').catch(function (err) { console.error(err); });
    </script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            height: 500,
            menubar: false,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: [
              '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
              '//www.tinymce.com/css/codepen.min.css']
        });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>
